#!/usr/bin/env bash

OP_ENV="op.env"

if [ -f $OP_ENV ]; then
  declare -A ENV_VARS
  for k in $(grep -o '^[A-Za-z_][A-Za-z0-9_]*' "$OP_ENV"); do
    ENV_VARS["$k"]=1
  done

  while IFS= read -r line; do
    key=${line%%=*}
    [ -n ${ENV_VARS[$key]:-} ] || continue

    printf -v "$key" '%s' "${line#*=}"
    export "$key"
  done < <(op run --no-masking --env-file="$OP_ENV" -- printenv)
fi
