%{ for name, _ in ip_pools ~}
apiVersion: cilium.io/v2
kind: CiliumBGPAdvertisement
metadata:
  name: ${name}
  labels:
    bgp-advertise: ${name}
spec:
  advertisements:
  - advertisementType: CiliumPodIPPool
    selector:
      matchLabels:
        site: ${name}
  - advertisementType: Service
    selector:
      matchLabels:
        bgp: "true"
    service:
      addresses:
      - ClusterIP
      - ExternalIP
      - LoadBalancerIP
---
%{ endfor ~}
