%{ for name, config in bgp ~}
%{ for protocol, _ in config.peers ~}
apiVersion: cilium.io/v2
kind: CiliumBGPPeerConfig
metadata:
  name: ${name}-${protocol}
  labels:
    site: ${config.site}
spec:
  families:
  - advertisements:
      matchLabels:
        bgp-advertise: ${config.site}
    afi: ip${protocol}
    safi: unicast
---
%{ endfor ~}
%{ endfor ~}
