%{~ for name, _ in ip_pools ~}
apiVersion: cilium.io/v2
kind: CiliumNodeConfig
metadata:
  namespace: kube-system
  name: ${name}
  labels:
    site: ${name}
spec:
  nodeSelector:
    matchLabels:
      site: ${name}
  defaults:
    ipam-default-ip-pool: ${name}
---
%{~ endfor ~}
